.cabecalho{
    width: 300px;
}
.cabecalho:after{
    display:block;
    clear:both;
}
.cabecalho .cabecalho-conteudo{
    background-color:greenyellow;
    color: black;
    margin: auto;
    padding:6px 19px;
}
.cabecalho .cabecalho-coluna{
    padding:5px 10px;
    float: left;
}
.cabecalho-rotina{
    background-color:yellow;
    color: black;
    margin: auto;
    padding:6px 19px;
}
.cabecalho-rotina2{
    background-color:purple;
    color: black;
    margin: auto;
    padding:6px 19px;
}
.cabecalho-rotina3{
    background-color:orange;
    color: black;
    margin: auto;
    padding:6px 19px;
}
.cabecalho-hobbies{
    background-color:cornflowerblue;
    color: black;
    margin: auto;
    padding:6px 19px;
}
.cabecalho-bandas{
    background-color:darkgrey;
    color: black;
    margin: auto;
    padding:6px 19px;
}
.cabecalho-destinos{
    background-color:palegoldenrod;
    color: black;
    margin: auto;
    padding:6px 19px;
}

.apresentacao{
    max-width: 80%;
    background-color: yellow;
    margin: 0 auto;
    text-align: center;
}
.estrutura{
    max-width: 90vw;
    margin: 30px auto;
}
.column{
    background-color: green;
    margin: 1vw 1.25vw;
    height: 100px;
    width: 25vw;
    float: left;
}
